p {
  font-family: Mina;
}

h1 {
  color: maroon;
}

h2.destination {
  font-family: Mina;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}
.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}
.description h5{
  color:teal;
  color: rebeccapurple !important;
}
h5,p{
  font-family: Mina;
}